@import '../sassStyles/variables';

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  min-height: 100%;

}


.container-fluid {
  padding-right: 4rem;
  padding-left: 4rem;
}


.btn_text {
  background: transparent;
  font-size: 1rem;
  color: $primaryBlue;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: none;

  &:hover {
    color: $grayBlueLight;
    border: none;
    outline: none;

    svg path {
      fill: $grayBlueLight;
    }
  }

  svg {
    margin-right: 5px;

  }
}

.mainBtn {
  background-color: $primaryBlue;
  color: white;
  border: none;
  outline: none;
  box-shadow: unset;
  &:hover, &:active, &:focus  {
    background-color: $grayBlueLight;
    border: none;
    outline: none;
    box-shadow: unset;
  }
}