// Screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;



$primaryBlue: #5358B6;
$softRed : hsl(358, 79%, 66%);
$grayBlueLight : hsl(239, 57%, 85%);
$paleRed : hsl(357, 100%, 86%);

$darkBlue: hsl(212, 24%, 26%);
$grayishBlue: hsl(211, 10%, 45%);
$lightGray: hsl(223, 19%, 93%);
$veryLightGray: hsl(228, 33%, 97%);
